body {
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #d3f2f2 0%, #ffffff 100%);
}

/* Product Grid Section*/
.product-grid {
  padding: 10px 50px 10px 50px;
  height: auto;
  width: auto;
  box-shadow: 0 11px 7px rgba(0, 0, 0, 0);
}

.product-row {
  display: flex;
  gap: 20px;
}

.product-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.product-card {
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  height: auto;
  width: auto;
  padding-bottom: 18px;
  flex-direction: column;
  font-family: Fredoka, sans-serif;
  color: #006972;
  box-shadow: 0 11px 7px rgba(0, 0, 0, 0.232);
}

.product-image {
  aspect-ratio: 1.26;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.product-details {
  display: flex;
  margin-top: 24px;
  width: fit-content;
  max-width: 508px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}

.product-info {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 33px;
  font-weight: 600;
  line-height: 0.5;
}

.product-type {
  font-size: 27px;
  font-weight: 300;
  line-height: 0.5;
  margin-top: 12px;
}

.product-price {
  display: flex;
  width: 138px;
  height: 15px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

@media (max-width: 991px) {
  .product-row {
    flex-direction: column;
  }

  .product-column {
    width: 100%;
    margin-left: 0;
  }

  .product-card {
    margin-top: 13px;
  }

  .product-image {
    max-width: 100%;
  }
}
