body {
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
}

.product-grid h2 {
  font-family: 'Fredoka', sans-serif;
  font-size: 36px;
  color: #124C5F;
  margin-bottom: 50px;
}

/* Product Grid Section*/
.product-grid {
  padding: 10px 50px 10px 50px;
  height: auto;
  width: auto;
  box-shadow: 0 11px 7px rgba(0, 0, 0, 0);
  text-align: center;
}

.product-row {
  display: flex;
  gap: 20px;
}

.product-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.product-card {
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  height: auto;
  width: auto;
  padding-bottom: 18px;
  flex-direction: column;
  font-family: Fredoka, sans-serif;
  color: #006972;
  box-shadow: 0 11px 7px rgba(0, 0, 0, 0.232);
}

.product-image {
  aspect-ratio: 1.26;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.product-details {
  display: flex;
  margin-top: 24px;
  width: fit-content;
  max-width: 508px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}

.product-info {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 33px;
  font-weight: 600;
  line-height: 0.5;
}

.product-type {
  font-size: 27px;
  font-weight: 300;
  line-height: 0.5;
  margin-top: 12px;
}

.product-price {
  display: flex;
  width: 138px;
  height: 15px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

@media (max-width: 991px) {
  .product-row {
    flex-direction: column;
  }

  .product-column {
    width: 100%;
    margin-left: 0;
  }

  .product-card {
    margin-top: 13px;
  }

  .product-image {
    max-width: 100%;
  }
}


/* Footer Section */
footer {
  background-color: #124C5F;
  color: white;
  padding: 40px 0;
  margin-top: 50px;
  font-family: 'Fredoka', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  text-align: left;
}

.footer-container div {
  flex: 1;
  margin: 0 20px;
}

.footer-about h3, .footer-links h3, .footer-contact h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #E8F8F9;
}

.footer-about p, .footer-contact ul li, .footer-links ul li a {
  font-size: 16px;
  color: #F9F9F9;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #E8F8F9;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #2EB3C7;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  background-color: #0D8A8F;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #E8F8F9;
}
